* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #1A1A2A;
}

nav {
    height: 7vh;
    width: 100%;
    background-color: #181824;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

nav h3 {
    color: #725EE3;
    margin-left: 95px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #181824;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

#home {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.l-left {
    margin: 150px;
    margin-left: 95px;
    width: 70%;
}

.l-left .intro {
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: 9px;
    font-family: Arial, Helvetica, sans-serif;

}

.l-left .fullname {
    font-size: 60px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.l-left .bio {
    font-size: 20px;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;

}

.l-left button {

    margin-right: 20px;
    border-radius: 10px;
    border-color: #7562E0;
}

.l-left .btn1 {
    padding: 14px 25px;
    background-color: #7562E0;
    font-size: 20px;
    transition: 0.3s ease;
}

.l-left .btn2 {
    padding: 14px 25px;
    font-size: 20px;
    background-color: transparent;
    transition: 0.3s ease;
}

.btn1 i {
    background-color: transparent;
    padding-left: 8px;

}

.btn1:hover {
    border: 2px solid white;
    transform: translateY(-5px);
}

.btn2:hover {
    border: 2px solid white;
    transform: translateY(-5px);
}

.btn2 i {
    background-color: transparent;
    padding-left: 8px;

}



.r-right {
    height: 80vh;
    width: 45%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    margin-top: 30px;
    margin-right: 150px;
}

.r-right img {
    padding-top: 50px;
    height: 650px;
    width: 800px;
}

#about {
    margin-top: 150px;
    width: 100%;
    height: 25vh;
    background-color: #181824;
}

#about h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 95px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #725EE3;
    background-color: #181824
}

#about p {
    margin-left: 95px;
    margin-right: 130px;
    overflow-x: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #181824
}


#education {
    height: 40vh;
    width: 100%;
}

#education h3 {
    padding-top: 40px;
    margin-left: 95px;
    font-size: 25px;
    color: #725EE3;
    font-family: Arial, Helvetica, sans-serif;
}

#education table {
    width: 85%;
    border-collapse: separate;
    margin-top: 50px;
    margin-left: 95px;
    table-layout: fixed;
    border: 6px solid #725EE3;
    border-radius: 10px;
}

#education table th,
#education table td {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

#education table td:not(:first-child),
#education table th:not(:first-child) {
    border-left: 2px solid grey;
}

#education table tr:hover {
    background-color: #7a6dc3;
}

#education table th {
    font-size: 25px;
    height: 40px;
    text-align: left;
    border-bottom: 3px solid white;
    background-color: #725EE3;
}


#education table td {
    font-size: 15px;
    height: 50px;
}

#education table tr:not(:last-child) td {
    border-bottom: 3px solid white;
}

#interest-heading {
    margin-top: 70px;
    color: #725EE3;
    font-size: 25px;
    margin-left: 95px;
    font-family: Arial, Helvetica, sans-serif;
}

#interest {
    margin-left: 60px;
    margin-right: 85px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

.interest-card {
    border: 2px solid #725EE3;
    padding: 40px 40px;
    border-radius: 16px;
    text-align: center;
    transition: 0.3s ease;
    float: left;
    height: 350px;
}

.interest-card:hover {
    transform: translateY(-5px);
    border-color: #725EE3;
    box-shadow: 0 0 15px #725EE3;
}

.interest-card i {
    font-size: 50px;
    color: white;
    margin-bottom: 15px;
    display: block;
}

.interest-card h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.interest-card p {
    font-size: 17px;
    line-height: 1.5;
}

.interest-card:nth-of-type(even) {
    border: 2px solid white;
}


.interest-card:nth-of-type(even):hover {
    box-shadow: 0 0 15px white;
}

#contact {
    display: flex;
    justify-content: space-between;
}

.contact-heading {
    margin-top: 70px;
    color: #725EE3;
    font-size: 25px;
    margin-left: 95px;
    font-family: Arial, Helvetica, sans-serif;
}

.satisfied {
    font-size: 20px;
    margin-left: 95px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.icons {
    display: flex;
    margin-left: 95px;
    padding-top: 22px;
}

.icons h5 i {
    color: #725EE3;
    font-size: 40px;
    padding-right: 10px;
}

.contact-right {
    margin-right: 150px;
}

.contact-right-heading {
    margin-top: 70px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    margin-top: 12px;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.input-group ::placeholder {
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background-color: #2a2a3b;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.contact-form textarea {
    resize: none;
}

.btn-submit {
    background-color: #725EE3;
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-submit:hover {
    background-color: #6a4de0;
}

.footer-content {
    margin-left: 95px;
    margin-top: 60px;
}

.footer-content p {
    font-size: 15px;
    color: gray;
}

.footer-logos {
    display: flex;
}

.footer-logos a {
    padding-right: 20px;
    padding-top: 10px;
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 30px;
}